body {
  margin-left: 0;
  padding-left: 0;
}

@media (min-width: 480px) {
  body {
    padding-left: 2vw; /* Starts increasing */
  }
}

@media (min-width: 768px) {
  body {
    padding-left: 3.5vw; /* Wider screens */
  }
}

@media (min-width: 1200px) {
  body {
    padding-left: 5vw; /* Maximum padding */
  }
}

h1[id^="урок-"] {
  margin-top: 0;
  margin-bottom: 4rem;
  padding-top: 0;
  font-size: 1.25em;
  border: none;
}

h1[id^="урок-"]::before {
  content: " ";
  display: block;
  background-color: #bdbdbd;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 5rem;
  z-index: -10;
}

p {
  margin-top: 3rem;
}

pre {
  padding-left: 2rem;
}
